/* Retro Redux */
:root {
  --vt-c-black: #000000;
  --vt-c-white: #f0f0f0;
  --vt-c-accent: #ffeb3b; /* Pacman Yellow */
  
  --font-retro: 'Press Start 2P', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--vt-c-white);
  background: var(--vt-c-black);
  font-family: var(--font-retro);
  line-height: 1.6;
  font-size: 14px; /* Pixel fonts tend to look big */
  overflow-x: hidden;
  antialiased: false; /* Sharper pixels */
  image-rendering: pixelated;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--vt-c-accent);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-shadow: 2px 2px #ff0000; /* Glitch effect */
  }
}
